In [10]:
pip install ucimlrepo

Requirement already satisfied: ucimlrepo in /opt/anaconda3/lib/python3.13/site-packages (0.0.7)
Requirement already satisfied: pandas>=1.0.0 in /opt/anaconda3/lib/python3.13/site-packages (from ucimlrepo) (2.2.3)
Requirement already satisfied: certifi>=2020.12.5 in /opt/anaconda3/lib/python3.13/site-packages (from ucimlrepo) (2025.10.5)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.13/site-packages (from pandas>=1.0.0->ucimlrepo) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.13/site-packages (from pandas>=1.0.0->ucimlrepo) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.13/site-packages (from pandas>=1.0.0->ucimlrepo) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.13/site-packages (from pandas>=1.0.0->ucimlrepo) (2025.2)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas>=1.0.0->ucimlrepo) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [58]:
from ucimlrepo import fetch_ucirepo 
import pandas as pd
  
# fetch dataset 
adult = fetch_ucirepo(id=2) 
  
# data 
X = adult.data.features 
y = adult.data.targets 
  
print(adult.metadata) 
  
print(adult.variables)

print("\n Fetching data directly from the dataset. All the variables and attributes of the dataset are listed above.")

{'uci_id': 2, 'name': 'Adult', 'repository_url': 'https://archive.ics.uci.edu/dataset/2/adult', 'data_url': 'https://archive.ics.uci.edu/static/public/2/data.csv', 'abstract': 'Predict whether annual income of an individual exceeds $50K/yr based on census data. Also known as "Census Income" dataset. ', 'area': 'Social Science', 'tasks': ['Classification'], 'characteristics': ['Multivariate'], 'num_instances': 48842, 'num_features': 14, 'feature_types': ['Categorical', 'Integer'], 'demographics': ['Age', 'Income', 'Education Level', 'Other', 'Race', 'Sex'], 'target_col': ['income'], 'index_col': None, 'has_missing_values': 'yes', 'missing_values_symbol': 'NaN', 'year_of_dataset_creation': 1996, 'last_updated': 'Tue Sep 24 2024', 'dataset_doi': '10.24432/C5XW20', 'creators': ['Barry Becker', 'Ronny Kohavi'], 'intro_paper': None, 'additional_info': {'summary': "Extraction was done by Barry Becker from the 1994 Census database.  A set of reasonably clean records was extracted using the following conditions: ((AAGE>16) && (AGI>100) && (AFNLWGT>1)&& (HRSWK>0))\n\nPrediction task is to determine whether a person's income is over $50,000 a year.\n", 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': 'Listing of attributes:\r\n\r\n>50K, <=50K.\r\n\r\nage: continuous.\r\nworkclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.\r\nfnlwgt: continuous.\r\neducation: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.\r\neducation-num: continuous.\r\nmarital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.\r\noccupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.\r\nrelationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.\r\nrace: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.\r\nsex: Female, Male.\r\ncapital-gain: continuous.\r\ncapital-loss: continuous.\r\nhours-per-week: continuous.\r\nnative-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.', 'citation': None}}
              name     role         type      demographic  \
0              age  Feature      Integer              Age
1        workclass  Feature  Categorical           Income
2           fnlwgt  Feature      Integer             None
3        education  Feature  Categorical  Education Level
4    education-num  Feature      Integer  Education Level
5   marital-status  Feature  Categorical            Other
6       occupation  Feature  Categorical            Other
7     relationship  Feature  Categorical            Other
8             race  Feature  Categorical             Race
9              sex  Feature       Binary              Sex
10    capital-gain  Feature      Integer             None
11    capital-loss  Feature      Integer             None
12  hours-per-week  Feature      Integer             None
13  native-country  Feature  Categorical            Other
14          income   Target       Binary           Income

                                          description units missing_values
0                                                 N/A  None             no
1   Private, Self-emp-not-inc, Self-emp-inc, Feder...  None            yes
2                                                None  None             no
3    Bachelors, Some-college, 11th, HS-grad, Prof-...  None             no
4                                                None  None             no
5   Married-civ-spouse, Divorced, Never-married, S...  None             no
6   Tech-support, Craft-repair, Other-service, Sal...  None            yes
7   Wife, Own-child, Husband, Not-in-family, Other...  None             no
8   White, Asian-Pac-Islander, Amer-Indian-Eskimo,...  None             no
9                                       Female, Male.  None             no
10                                               None  None             no
11                                               None  None             no
12                                               None  None             no
13  United-States, Cambodia, England, Puerto-Rico,...  None            yes
14                                       >50K, <=50K.  None             no

 Fetching data directly from the dataset. All the variables and attributes of the dataset are listed above.

<h3>Summary of the dataset tables<h3>

In [61]:
df = pd.concat([X, y], axis=1)

# Quick cleaning example
df = df.dropna()  # remove rows with missing values
df = df.apply(lambda x: x.str.strip() if x.dtype == "object" else x)  # remove extra spaces

df.head(10)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

In [94]:

# Selecting a sensitive attribute 
attr = 'race'

# Combine income (target attribute) and sensitive attribute 
df.groupby(attr)['income'].value_counts(normalize=True)

# Calculate earning of >50K for each race
positive_rates = df[df['income'] == '>50K'][attr].value_counts(normalize=True)

print(positive_rates)


print(" ")
positive_rates = (
    df[df['income'] == '>50K']['race']
    .value_counts(normalize=True)
    .rename('proportion')
    .mul(100)
    .round(2)
)

print("Percentage of High Income By Race")
display(positive_rates)

race
White                 0.907665
Black                 0.049356
Asian-Pac-Islander    0.035200
Amer-Indian-Eskimo    0.004591
Other                 0.003188
Name: proportion, dtype: float64

Percentage of High Income By Race

race
White                 90.77
Black                  4.94
Asian-Pac-Islander     3.52
Amer-Indian-Eskimo     0.46
Other                  0.32
Name: proportion, dtype: float64

In [96]:
df['white_num'] = (df['race'] == 'White').astype(int)

df['target_num'] = (df['income'] == '>50K').astype(int)

corr = df['white_num'].corr(df['target_num'])

print(f"Correlation between being White and having income over 50K: {corr:.3f}")

Correlation between being White and having income over 50K: 0.065

**Summary Report:**


display(positive_rates)

print(f"Correlation between being White and having income over 50K: {corr:.3f}")

print(f"""\nInterpretation: The calculation above calculates the correlation between being White and Earning >50k.
The purpose of doing so is to calculate if these two variables (target and sensitive attributes) have any correlation.
The formula above helps us measure if these attributes have a relationship and occur together.
This calculation checks if high values of the race attribute White is often paired with values of high income (>50K).
The correlation coefficient produced: 0.065.
The interpretation of this number is that being White has a small correlation with earning over 50K.
However, White individuals are slightly more likely to earn a high income wage compared to other non-White races.""")

In [97]:
#Summary Report: 

print("Percentage of High Income By Race: ")
display(positive_rates)

print("\nCorrelation between being White and having an income over 50K: ")
print(f"{corr:.3f}")

Percentage of High Income By Race:

race
White                 90.77
Black                  4.94
Asian-Pac-Islander     3.52
Amer-Indian-Eskimo     0.46
Other                  0.32
Name: proportion, dtype: float64

Correlation between being White and having an income over 50K:
0.065

**Interpretation of the correlation data:** 

The calculation above calculates the correlation between being White and Earning >50k.
The purpose of doing so is to calculate if these two variables (target and sensitive attributes) have any correlation.
The formula above helps us measure if these attributes have a relationship and occur together.
This calculation checks if high values of the race attribute White is often paired with values of high income (>50K).
The correlation coefficient produced: 0.065.
The interpretation of this number is that being White has a small correlation with earning over 50K.
However, White individuals are slightly more likely to earn a high income wage compared to other non-White races.

**Potential Biases In the Dataset**

In [98]:
#Potential Biases in the dataset:
# Show all unique race categories
#df['race'].unique()

# Total in each race category
print("The total count of values for each race")
df['race'].value_counts()

The total count of values for each race

race
White                 40786
Black                  4535
Asian-Pac-Islander     1447
Amer-Indian-Eskimo      460
Other                   393
Name: count, dtype: int64

In [99]:
#Race Percentage Table:
race_counts = df['race'].value_counts()
race_percentages = (race_counts / len(df)) * 100

# Display both
print("The total percentage of each race in the dataset")
display(race_percentages.round(2))

The total percentage of each race in the dataset

race
White                 85.65
Black                  9.52
Asian-Pac-Islander     3.04
Amer-Indian-Eskimo     0.97
Other                  0.83
Name: count, dtype: float64

**Paragraph on potential biases in the dataset:**

Something in the dataset that particularly stood out to me was the imbalance of the race representation. The data above highlights this misrepresentation by showing that 85.65% of teh current data is data derived from White populations. Whereas data from Black populations is comprised of only 9.52% and even less for other minority groups. This creates an obvious disparity in the Adult Income Dataset. 

White individuals make up majority of the enteries whereas Black, Asian Pacific Islanders, Amer-Indian-Eskimo and others are in drastucally smaller numbers. Another key aspect that might result in potential biases is that there no mention of Hispanic, Latino, or Asian Americans. This missing gap and uneven distribution of data might create potential issues as any training data based off this would also be biased. Since this data is primarily focused on a White population, the trained model would also be primaily focused on producing results that focus on a white population, it could lead to unfair and less accuaret predictions from any potential minority groups.